HUBSPOT_API_KEY={YOUR_HUBSPOT_API_KEY}

# Local Ruby + Docker Postgres/Redis on host
REDIS_URL=redis://localhost:6379/0
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
